[submodule "Learn_Matplotlib"]
	path = Learn_Matplotlib
	url = https://github.com/dboyliao/Learn_Matplotlib.git
[submodule "Metaprogramming_With_Examples"]
	path = Metaprogramming_With_Examples
	url = https://github.com/dboyliao/Metaprogramming_With_Examples.git
[submodule "SOLID"]
	path = SOLID
	url = https://github.com/dboyliao/SOLID.git
[submodule "Learn_Flask"]
	path = Learn_Flask
	url = https://github.com/dboyliao/Learn_Flask.git
[submodule "numpy_capi"]
	path = numpy_capi
	url = https://github.com/dboyliao/numpy_capi.git
